body {
    /* font-family: 'Slabo 27px', serif; */
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

.main-body {

    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/background/bio1.jpg");
    background-size: cover;
    /* height: 405px; */

}

.down-color {
    background-color: #2d2d2d;
}


.forms_begin {
    margin-top: 132px;
}




 
.centered_text{
    width: 923px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
}

.text_space{
    line-height: 2rem;
}

#ceo_detail{
    margin-top: 100px;
    line-height: 6.5rem;
}

@media (max-width: 760px){
    .centered_text {
        width: 250px;
    }

    #ceo_detail{
        margin-top: 0px;
        line-height: 56px;
    }
}

@media (max-width: 814px){
    .centered_text {
        width: 500px;
    }

    #ceo_detail{
        margin-top: 55px;
        line-height: 3.5rem;
    }
}